
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>HomeController</h2>

@if (User.Identity.IsAuthenticated)
            {
                <div style="color:red ; font-weight:bold">
                    Welcome! @User.Identity.Name
                </div>
            }