
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div style="color:red ; font-weight:bold">
        <h1>
            Đăng nhập thành công ! @User.Identity.Name ~~~
        </h1>
    </div>
}
else
{
    <div style="text-align:center ; height : 100vh">
        <h1>Trang chủ</h1>
    </div>
}
