@model Project02_MovieWebsite.Models.Genres

@{
    ViewBag.Title = "Create Genre";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>@ViewBag.Title</h2>

<form action="/Genres/Create" method="post">
    <div class="row mb-2">
        <div class="col-md-6">
            <label for="Name">Genre Name</label>
            <input type="text"
                   class="form-control"
                   id="Name"
                   name="Name"
                   placeholder="Enter genre name !" />
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Create</button>
    <a href="/Genres/Index" class="btn btn-outline-info">Back to Genre list</a>
</form>